.upload-preview img {
    max-width: 80%;
}

.destroy-form button{
    background: none;
    border: none;
    cursor: pointer;
    color: #367fa9;
    margin-left: 5px;
    margin-top: -4px;
    display: block;
}

td .btn-group {
    display: inline-flex;
    align-items: center;
    font-size: 20px;
}

img[src="/"] {
    display: none;
}

.upload-preview {
    display: flex;
    align-items: center;
}
